<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Add Product</title>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <header>
      <nav class="navigation">
        <ul class="menu">
          <li><a href="/" class="menu-item">Shop</a></li>
          <li><a href="/admin/add-product" class="menu-item">Add Product</a></li>
          <li><a href="/contact-us" class="menu-item">Contact Us</a></li>
        </ul>
      </nav>
    </header>
    <main>
        <h1 class="page-title">Shop</h1>
        <p class="intro-text">Products..incoming soon</p>
    </main>
  </body>
</html>
